<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/scripts/script.js" defer></script>
    <title>Music Room</title>
  </head>
  <body>
    {{{body}}}
    <script
      src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"
    ></script>
  </body>
</html>