<header>
  <h1>Select a room</h1>
  <p>{{userName}}</p>
</header>
<main class="index">
  <section>
    <div>
    </div>
    <h2>{{newStr}}</h2>
  </section>
  <section>
    <ul></ul>
    <form action="/" method="post">
      <input type="text" name="answer" />
      <button>Send</button>
    </form>
  </section>
</main>