<header>
  <h1>Guess the name of the album or artist</h1>
  <h2>{{userName}}</h2>
</header>
<main class="index">
  <section>
    <h2><span>30</span></h2>
    <div>
      <img src="" alt="random album cover to be guessed" />
    </div>
    <h2>{{newStr}}</h2>
  </section>
  <section>
    <ul></ul>
    <form action="/" method="post">
      <input type="text" name="answer" />
      <button>Send</button>
    </form>
  </section>
  <section>
    <h2>Players:</h2>
    <ul>

    </ul>
  </section>
</main>