<header>
  <h1>Guess the name of the album or artist</h1>
  <h2>{{userName}}</h2>
</header>
<main class="index">
  <h2>Attempts Left: <span>6</span></h2>
  <section>
    <div>
      <h2>{{newStr}}</h2>
    </div>
    <ul></ul>
    <form action="/" method="post">
      <input type="text" name="answer" />
      <button>Send</button>
    </form>
  </section>
  <section>
    <h2>Players:</h2>
    <ul>
    </ul>
  </section>
</main>