<header>
  <h1>Guess the name of the album</h1>
  <p>{{userName}}</p>
</header>
<main class="index">
  <section>
    <div>
      <img src="" alt="random album cover to be guessed" />
    </div>
    <h2>{{newStr}}</h2>
  </section>
  <section>
    <ul></ul>
    <form action="/" method="post">
      <input type="text" name="answer" />
      <button>Send</button>
    </form>
  </section>
</main>