<header>
  <h1>Welcome to Music Room</h1>
</header>
<main class="login">
  <section>
    <h2>Current users in game: <span>0</span>/10</h2>
    <form action="/" method="post">
      <label for="userName">Username:</label>
      <input type="text" id="userName" name="userName" required />
      <button>Begin a game</button>
    </form>
    <h3><span>Sorry!</span> <br /> This username is already in use...</h3>
  </section>
</main>