<section class="login">
  <h1>Welcome to Music Room</h1>
  <form action="/" method="post">
    <label for="userName"></label>
    <input type="text" id="userName" name="userName" required />
    <button>Begin a game</button>
  </form>
  <h2>Current users in game right now: <span>0/10</span></h2>
</section>