<section>
  <h1>Welcome to Music Rooms</h1>
  <form action="/" method="post">
    <label for="userName"></label>
    <input type="text" id="userName" name="userName" required />
    <button>Login</button>
  </form>
</section>