<main class="winner">
  <section>
    <h1>We have a winner!</h1>
    <h2>{{winner}}</h2>
  </section>
  <button><a href="/">Start new game</a></button>
</main>

{{! <script
  src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"
></script> }}